<!DOCTYPE html>
<html lang="en">
<head>
<title>Niv</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style>
header {
  background: #081c64;
  height: 60px;
  color: white;
}body {
  margin:0;
  padding:0;
  font-family: Sans-Serif;
  line-height: 1.5em;
}
.logoutLblPos{
   position:fixed;
   right:10px;
   top:5px;
}

.homebutton{
   position:fixed;
   left:10px;
   top:20px;
   color: white;
}
footer {
  text-align: center;
  background-color: #081c64;
  color: white;
  position: absolute;
  width: 100%;
  height: 5rem;
}


html, body {
min-height: 100%;
}
body, input {
padding: 0;
margin: 0;
outline: none;
font-family: Roboto, Arial, sans-serif;
font-size: 14px;
color: #666;
line-height: 22px;
}
h1, h4 {
font-weight: 400;
}
h4 {
margin: 22px 0 4px;
}
h5 {
text-transform: uppercase;
color: #095484;
}
.main-block {
display: flex;
justify-content: center;
align-items: center;
padding: 3px;
}
form {
width: 100%;
padding: 20px;
box-shadow: 0 2px 5px #ccc;
background: #fff;
}
input {
width: calc(100% - 10px);
padding: 5px;
border-radius: 3px;
border: 1px solid #ccc;
vertical-align: middle;
}
textarea {
width: calc(100% - 6px);
outline: none;
}
input:hover, textarea:hover {
outline: none;
border: 1px solid #095484;
}
th, td {
width: 15%;
padding: 15px 0;
border-bottom: 1px solid #ccc;
text-align: center;
vertical-align: unset;
line-height: 18px;
font-weight: 400;
word-break: break-all;
}
.additional-question th, .additional-question td {
width: 38%;
}
.course-rate th, .course-rate td {
width: 19%;
}
.first-col, .additional-question  .first-col, .course-rate .first-col {
width: 24%;
text-align: left;
}
.question, .comments {
margin: 15px 0 5px;
}
.question-answer label {
display: inline-block;
padding: 0 20px 15px 0;
}
.question-answer input {
width: auto;
}
.question-answer, table {
width: 100%;
}
.btn-block {
margin-top: 20px;
text-align: center;
}
button {
width: 150px;
padding: 10px;
border: none;
border-radius: 5px;
background: #095484;
font-size: 16px;
color: #fff;
cursor: pointer;
}
button:hover {
background: #0666a3;
}
@media (min-width: 568px) {
th, td {
word-break: keep-all;
}
}
</style>


</style>
</head>

<body>

<!-- Header -->
<header>
  <h3></h3>
  <a class="homebutton" href="/homePage">Niv  Next Gen</a>
  <p class="logoutLblPos">Logout</p>
</header>

<!-- Body -->

<div class="main-block">
    <form method="Post">
        <h1>Evaluation Survey</h1>
        <h4>Student</h4>
        <div class="col-lg-3" th:object="${record}">
            <select class="form-control" id="testOrder" name="studentID">
                <option value="">Select the Student</option>
                <option th:each="record : ${records}"
                        th:value="${record.id}"
                        th:text="${record.name}"></option>
            </select>
        </div>

        <table>
          <tr>
            <th class="first-col"></th>
            <th>Never</th>
            <th>Occasionally</th>
            <th>Frequently</th>
            <th>Always</th>
          </tr>
<!--Questions for SOC -->
          <tr>
            <td class="question1">1. Works as part of a team; is helpful with others</td>
            <td><input type="radio" value="4" name="question1" /></td>
            <td><input type="radio" value="3" name="question1" /></td>
            <td><input type="radio" value="2" name="question1" /></td>
            <td><input type="radio" value="1" name="question1" /></td>
          </tr>
          <tr>
            <td class="question2">2. Resolves peer conflicts without teacher intervention.</td>
            <td><input type="radio" value="4" name="question2" /></td>
            <td><input type="radio" value="3" name="question2" /></td>
            <td><input type="radio" value="2" name="question2" /></td>
            <td><input type="radio" value="1" name="question2" /></td>
          </tr>
          <tr>
            <td class="question3">3. Handles frustration without outbursts or aggressive behavior.</td>
            <td><input type="radio" value="4" name="question3" /></td>
            <td><input type="radio" value="3" name="question3" /></td>
            <td><input type="radio" value="2" name="question3" /></td>
            <td><input type="radio" value="1" name="question3" /></td>
          </tr>

          <tr>
            <td class="question4">4. Willingly plays with peers in a variety of games and activities.</td>
            <td><input type="radio" value="4" name="question4" /></td>
            <td><input type="radio" value="3" name="question4" /></td>
            <td><input type="radio" value="2" name="question4" /></td>
            <td><input type="radio" value="1" name="question4" /></td>
          </tr>

          <tr>
            <td class="question5">5. Enters into play with peers without disrupting ongoing activity.</td>
            <td><input type="radio" value="4" name="question5" /></td>
            <td><input type="radio" value="3" name="question5" /></td>
            <td><input type="radio" value="2" name="question5" /></td>
            <td><input type="radio" value="1" name="question5" /></td>
          </tr>

          <tr>
            <td class="question6">6. Has friends and chooses to be with them when possible.</td>
            <td><input type="radio" value="4" name="question6" /></td>
            <td><input type="radio" value="3" name="question6" /></td>
            <td><input type="radio" value="2" name="question6" /></td>
            <td><input type="radio" value="1" name="question6" /></td>
          </tr>
          <tr>
            <td class="question7">7. Uses and understands humor when playing with peers.
          </td>
            <td><input type="radio" value="4" name="question7" /></td>
            <td><input type="radio" value="3" name="question7" /></td>
            <td><input type="radio" value="2" name="question7" /></td>
            <td><input type="radio" value="1" name="question7" /></td>
          </tr>
          <tr>
            <td class="question8">8. Maintains appropriate “personal space” (doesn’t stand too close to others during conversation).</td>
            <td><input type="radio" value="4" name="question8" /></td>
            <td><input type="radio" value="3" name="question8" /></td>
            <td><input type="radio" value="2" name="question8" /></td>
            <td><input type="radio" value="1" name="question8" /></td>
          </tr>
          <tr>
            <td class="question9">9. Maintains appropriate eye contact during conversation.</td>
            <td><input type="radio" value="4" name="question9" /></td>
            <td><input type="radio" value="3" name="question9" /></td>
            <td><input type="radio" value="2" name="question9" /></td>
            <td><input type="radio" value="1" name="question9" /></td>
          </tr>
          <tr>
            <td class="question10">10. Shifts conversation topics in accordance with peer interests; doesn’t stay stuck
            on one topic.</td>
            <td><input type="radio" value="4" name="question10" /></td>
            <td><input type="radio" value="3" name="question10" /></td>
            <td><input type="radio" value="2" name="question10" /></td>
            <td><input type="radio" value="1" name="question10" /></td>
          </tr>

<!--Questions for VIS -->
          <tr>
            <td>VISION</td>
          </tr>

          <tr>
            <td class="question11">11. Squints, covers eyes, or complains about classroom lighting or bright sunlight.</td>
            <td><input type="radio" value="1" name="question11" /></td>
            <td><input type="radio" value="2" name="question11" /></td>
            <td><input type="radio" value="3" name="question11" /></td>
            <td><input type="radio" value="4" name="question11" /></td>
          </tr>
          <tr>
            <td class="question12">12. Shows distress at the sight of moving objects.</td>
            <td><input type="radio" value="1" name="question12" /></td>
            <td><input type="radio" value="2" name="question12" /></td>
            <td><input type="radio" value="3" name="question12" /></td>
            <td><input type="radio" value="4" name="question12" /></td>
          </tr>
          <tr>
            <td class="question13">13. Becomes distracted by nearby visual stimuli (pictures, items on walls, windows,
          other children).</td>
            <td><input type="radio" value="1" name="question13" /></td>
            <td><input type="radio" value="2" name="question13" /></td>
            <td><input type="radio" value="3" name="question13" /></td>
            <td><input type="radio" value="4" name="question13" /></td>
          </tr>
          <tr>
            <td class="question14">14. During instruction or announcement, student looks around or at peers, rather
          than looking at person speaking or at blackboard.</td>
            <td><input type="radio" value="1" name="question14" /></td>
            <td><input type="radio" value="2" name="question14" /></td>
            <td><input type="radio" value="3" name="question14" /></td>
            <td><input type="radio" value="4" name="question14" /></td>
          </tr>
          <tr>
            <td class="question15">15. Spins or flicks objects in front of eyes.</td>
            <td><input type="radio" value="1" name="question15" /></td>
            <td><input type="radio" value="2" name="question15" /></td>
            <td><input type="radio" value="3" name="question15" /></td>
            <td><input type="radio" value="4" name="question15" /></td>
          </tr>
          <tr>
            <td class="question16">16. Stares intensely at people or objects.</td>
            <td><input type="radio" value="1" name="question16" /></td>
            <td><input type="radio" value="2" name="question16" /></td>
            <td><input type="radio" value="3" name="question16" /></td>
            <td><input type="radio" value="4" name="question16" /></td>
          </tr>
          <tr>
            <td class="question17">17. Shows distress when lights are dimmed for movies and assemblies.</td>
            <td><input type="radio" value="1" name="question17" /></td>
            <td><input type="radio" value="2" name="question17" /></td>
            <td><input type="radio" value="3" name="question17" /></td>
            <td><input type="radio" value="4" name="question17" /></td>
          </tr>

<!--Questions for HEA -->
          <tr>
            <td>HEARING</td>
          </tr>
          <tr>
            <td class="question18">18. Shows distress at loud sounds (slamming door, electric pencil sharpener, PA
          announcement, fire drill).</td>
            <td><input type="radio" value="1" name="question18" /></td>
            <td><input type="radio" value="2" name="question18" /></td>
            <td><input type="radio" value="3" name="question18" /></td>
            <td><input type="radio" value="4" name="question18" /></td>
          </tr>
          <tr>
            <td class="question19">19. Shows distress at the sounds of singing or musical instruments.</td>
            <td><input type="radio" value="1" name="question19" /></td>
            <td><input type="radio" value="2" name="question19" /></td>
            <td><input type="radio" value="3" name="question19" /></td>
            <td><input type="radio" value="4" name="question19" /></td>
          </tr>
          <tr>
            <td class="question20">20. Does not respond to voices or new sounds.</td>
            <td><input type="radio" value="1" name="question20" /></td>
            <td><input type="radio" value="2" name="question20" /></td>
            <td><input type="radio" value="3" name="question20" /></td>
            <td><input type="radio" value="4" name="question20" /></td>
          </tr>
          <tr>
          <tr>
            <td class="question21">21. Cannot determine location of sounds or voices.</td>
            <td><input type="radio" value="1" name="question21" /></td>
            <td><input type="radio" value="2" name="question21" /></td>
            <td><input type="radio" value="3" name="question21" /></td>
            <td><input type="radio" value="4" name="question21" /></td>
          </tr>
          <tr>
            <td class="question22">22. Makes noises, hums, sings, or yells during quiet class time.</td>
            <td><input type="radio" value="1" name="question22" /></td>
            <td><input type="radio" value="2" name="question22" /></td>
            <td><input type="radio" value="3" name="question22" /></td>
            <td><input type="radio" value="4" name="question22" /></td>
          </tr>
          <tr>
            <td class="question23">23. Speaks too loudly or makes excessive noise during transitions.</td>
            <td><input type="radio" value="1" name="question23" /></td>
            <td><input type="radio" value="2" name="question23" /></td>
            <td><input type="radio" value="3" name="question23" /></td>
            <td><input type="radio" value="4" name="question23" /></td>
          </tr>
          <tr>
            <td class="question24">24. Yells, screams, or makes unusual noises to self.</td>
            <td><input type="radio" value="1" name="question24" /></td>
            <td><input type="radio" value="2" name="question24" /></td>
            <td><input type="radio" value="3" name="question24" /></td>
            <td><input type="radio" value="4" name="question24" /></td>
          </tr>
<!--Questions for TOU -->
          <tr>
            <td>TOUCH</td>
          </tr>
          <tr>
            <td class="question25">25. Shows distress when hands or face are dirty (with glue, finger paints, food,
          dirt, etc.).</td>
            <td><input type="radio" value="1" name="question25" /></td>
            <td><input type="radio" value="2" name="question25" /></td>
            <td><input type="radio" value="3" name="question25" /></td>
            <td><input type="radio" value="4" name="question25" /></td>
          </tr>
          <tr>
            <td class="question26">26. Does not tolerate dirt on hands or clothing, even briefly.</td>
            <td><input type="radio" value="1" name="question26" /></td>
            <td><input type="radio" value="2" name="question26" /></td>
            <td><input type="radio" value="3" name="question26" /></td>
            <td><input type="radio" value="4" name="question26" /></td>
          </tr>
          <tr>
            <td class="question27">27.  Shows distress when touching certain textures (classroom materials, utensils,
          sports equipment, etc.).</td>
            <td><input type="radio" value="1" name="question27" /></td>
            <td><input type="radio" value="2" name="question27" /></td>
            <td><input type="radio" value="3" name="question27" /></td>
            <td><input type="radio" value="4" name="question27" /></td>
          </tr>
          <tr>
            <td class="question28">28. Is distressed by accidental touch of peers (may lash out or withdraw).</td>
            <td><input type="radio" value="1" name="question28" /></td>
            <td><input type="radio" value="2" name="question28" /></td>
            <td><input type="radio" value="3" name="question28" /></td>
            <td><input type="radio" value="4" name="question28" /></td>
          </tr>
          <tr>
            <td class="question29">29. Does not respond to another’s touch</td>
            <td><input type="radio" value="1" name="question29" /></td>
            <td><input type="radio" value="2" name="question29" /></td>
            <td><input type="radio" value="3" name="question29" /></td>
            <td><input type="radio" value="4" name="question29" /></td>
          </tr>
          <tr>
            <td class="question30">30. Seeks hot or cold temperatures by touching windows, other surfaces.</td>
            <td><input type="radio" value="1" name="question30" /></td>
            <td><input type="radio" value="2" name="question30" /></td>
            <td><input type="radio" value="3" name="question30" /></td>
            <td><input type="radio" value="4" name="question30" /></td>
          </tr>
          <tr>
            <td class="question31">31. Touches classmates inappropriately during class and when standing in line.</td>
            <td><input type="radio" value="1" name="question31" /></td>
            <td><input type="radio" value="2" name="question31" /></td>
            <td><input type="radio" value="3" name="question31" /></td>
            <td><input type="radio" value="4" name="question31" /></td>
          </tr>
          <tr>
            <td class="question32">32. Does not clean saliva or food from face.</td>
            <td><input type="radio" value="1" name="question32" /></td>
            <td><input type="radio" value="2" name="question32" /></td>
            <td><input type="radio" value="3" name="question32" /></td>
            <td><input type="radio" value="4" name="question32" /></td>
          </tr>

<!--Questions for TnA -->
          <tr>
          <td>TASTE AND SMELL</td>
          </tr>
          <tr>
          <td class="question33">33. Shows distress at the tastes or odors of different foods.</td>
          <td><input type="radio" value="1" name="question33" /></td>
          <td><input type="radio" value="2" name="question33" /></td>
          <td><input type="radio" value="3" name="question33" /></td>
          <td><input type="radio" value="4" name="question33" /></td>
          </tr>
          <tr>
          <td class="question34">34. Does not notice strong or unusual odors (glue, paint, markers, etc.).</td>
          <td><input type="radio" value="1" name="question34" /></td>
          <td><input type="radio" value="2" name="question34" /></td>
          <td><input type="radio" value="3" name="question34" /></td>
          <td><input type="radio" value="4" name="question34" /></td>
          </tr>
          <tr>
          <td class="question35">35. Cannot distinguish between odors; does not prefer good smells to bad smells.</td>
          <td><input type="radio" value="1" name="question35" /></td>
          <td><input type="radio" value="2" name="question35" /></td>
          <td><input type="radio" value="3" name="question35" /></td>
          <td><input type="radio" value="4" name="question35" /></td>
          </tr>
          <tr>
          <td class="question36">36. Tries to taste or lick objects or people.</td>
          <td><input type="radio" value="1" name="question36" /></td>
          <td><input type="radio" value="2" name="question36" /></td>
          <td><input type="radio" value="3" name="question36" /></td>
          <td><input type="radio" value="4" name="question36" /></td>
          </tr>

<!--Questions for BOD -->
          <tr>
            <td>BODY AWARENESS</td>
          </tr>
          <tr>
            <td class="question37">37. Spills contents when opening containers.</td>
            <td><input type="radio" value="1" name="question37" /></td>
            <td><input type="radio" value="2" name="question37" /></td>
            <td><input type="radio" value="3" name="question37" /></td>
            <td><input type="radio" value="4" name="question37" /></td>
          </tr>
          <tr>
            <td class="question38">38. Chews or mouths clothing, pencils, crayons, or classroom materials.</td>
            <td><input type="radio" value="1" name="question38" /></td>
            <td><input type="radio" value="2" name="question38" /></td>
            <td><input type="radio" value="3" name="question38" /></td>
            <td><input type="radio" value="4" name="question38" /></td>
          </tr>
          <tr>
            <td class="question39">39. Moves chair roughly (shoves chair under desk or pulls out chair with too much force).</td>
            <td><input type="radio" value="1" name="question39" /></td>
            <td><input type="radio" value="2" name="question39" /></td>
            <td><input type="radio" value="3" name="question39" /></td>
            <td><input type="radio" value="4" name="question39" /></td>
          </tr>
          <tr>
            <td class="question40">40. Runs, hops, or bounces instead of walking.</td>
            <td><input type="radio" value="1" name="question40" /></td>
            <td><input type="radio" value="2" name="question40" /></td>
            <td><input type="radio" value="3" name="question40" /></td>
            <td><input type="radio" value="4" name="question40" /></td>
          </tr>
          <tr>
            <td class="question41">41. Stomps or slaps feet on the ground when walking.</td>
            <td><input type="radio" value="1" name="question41" /></td>
            <td><input type="radio" value="2" name="question41" /></td>
            <td><input type="radio" value="3" name="question41" /></td>
            <td><input type="radio" value="4" name="question41" /></td>
          </tr>
          <tr>
            <td class="question42">42. Jumps or stomps on stairs.</td>
            <td><input type="radio" value="1" name="question42" /></td>
            <td><input type="radio" value="2" name="question42" /></td>
            <td><input type="radio" value="3" name="question42" /></td>
            <td><input type="radio" value="4" name="question42" /></td>
          </tr>
          <tr>
            <td class="question43">43. Slams doors shut or opens doors with excessive force.</td>
            <td><input type="radio" value="1" name="question43" /></td>
            <td><input type="radio" value="2" name="question43" /></td>
            <td><input type="radio" value="3" name="question43" /></td>
            <td><input type="radio" value="4" name="question43" /></td>
          </tr>

<!--Questions for BAL -->
          <tr>
            <td>BALANCE AND MOTION</td>
          </tr>
          <tr>
            <td class="question44">44. Runs hand along wall when walking.</td>
            <td><input type="radio" value="1" name="question44" /></td>
            <td><input type="radio" value="2" name="question44" /></td>
            <td><input type="radio" value="3" name="question44" /></td>
            <td><input type="radio" value="4" name="question44" /></td>
          </tr>
          <tr>
            <td class="question45">45. Wraps legs around chair legs.</td>
            <td><input type="radio" value="1" name="question45" /></td>
            <td><input type="radio" value="2" name="question45" /></td>
            <td><input type="radio" value="3" name="question45" /></td>
            <td><input type="radio" value="4" name="question45" /></td>
          </tr>
          <tr>
            <td class="question46">46. Rocks in chair while seated at desk or table.</td>
            <td><input type="radio" value="1" name="question46" /></td>
            <td><input type="radio" value="2" name="question46" /></td>
            <td><input type="radio" value="3" name="question46" /></td>
            <td><input type="radio" value="4" name="question46" /></td>
          </tr>
          <tr>
            <td class="question47">47. Fidgets when seated at desk or table.</td>
            <td><input type="radio" value="1" name="question47" /></td>
            <td><input type="radio" value="2" name="question47" /></td>
            <td><input type="radio" value="3" name="question47" /></td>
            <td><input type="radio" value="4" name="question47" /></td>
          </tr>
          <tr>
            <td class="question48">48. Falls out of chair when seated at desk or table.</td>
            <td><input type="radio" value="1" name="question48" /></td>
            <td><input type="radio" value="2" name="question48" /></td>
            <td><input type="radio" value="3" name="question48" /></td>
            <td><input type="radio" value="4" name="question48" /></td>
          </tr>
          <tr>
            <td class="question49">49. Leans on walls, furniture, or other people for support when standing.</td>
            <td><input type="radio" value="1" name="question49" /></td>
            <td><input type="radio" value="2" name="question49" /></td>
            <td><input type="radio" value="3" name="question49" /></td>
            <td><input type="radio" value="4" name="question49" /></td>
          </tr>
          <tr>
            <td class="question50">50. When seated on floor, cannot sit up without support.</td>
            <td><input type="radio" value="1" name="question50" /></td>
            <td><input type="radio" value="2" name="question50" /></td>
            <td><input type="radio" value="3" name="question50" /></td>
            <td><input type="radio" value="4" name="question50" /></td>
          </tr>
          <tr>
            <td class="question51">51. Slumps, leans on desk, or holds head up in hands while seated at desk. </td>
            <td><input type="radio" value="1" name="question51" /></td>
            <td><input type="radio" value="2" name="question51" /></td>
            <td><input type="radio" value="3" name="question51" /></td>
            <td><input type="radio" value="4" name="question51" /></td>
          </tr>
          <tr>
            <td class="question52">52. Has poor coordination; appears clumsy.</td>
            <td><input type="radio" value="1" name="question52" /></td>
            <td><input type="radio" value="2" name="question52" /></td>
            <td><input type="radio" value="3" name="question52" /></td>
            <td><input type="radio" value="4" name="question52" /></td>
          </tr>

<!--Questions for PLA -->
          <tr>
            <td>PLANNING AND IDEAS</td>
          </tr>
          <tr>
            <td class="question53">53. Does not perform consistently in daily tasks; quality of work varies widely. </td>
            <td><input type="radio" value="1" name="question53" /></td>
            <td><input type="radio" value="2" name="question53" /></td>
            <td><input type="radio" value="3" name="question53" /></td>
            <td><input type="radio" value="4" name="question53" /></td>
          </tr>
          <tr>
            <td class="question54">54. Is unable to solve problems effectively.</td>
            <td><input type="radio" value="1" name="question54" /></td>
            <td><input type="radio" value="2" name="question54" /></td>
            <td><input type="radio" value="3" name="question54" /></td>
            <td><input type="radio" value="4" name="question54" /></td>
          </tr>
          <tr>
            <td class="question55">55. Bobbles or drops items when attempting to carry multiple objects.</td>
            <td><input type="radio" value="1" name="question55" /></td>
            <td><input type="radio" value="2" name="question55" /></td>
            <td><input type="radio" value="3" name="question55" /></td>
            <td><input type="radio" value="4" name="question55" /></td>
          </tr>
          <tr>
            <td class="question56">56. Does not perform tasks in proper sequence.</td>
            <td><input type="radio" value="1" name="question56" /></td>
            <td><input type="radio" value="2" name="question56" /></td>
            <td><input type="radio" value="3" name="question56" /></td>
            <td><input type="radio" value="4" name="question56" /></td>
          </tr>
          <tr>
            <td class="question57">57. Fails to complete tasks with multiple steps.</td>
            <td><input type="radio" value="1" name="question57" /></td>
            <td><input type="radio" value="2" name="question57" /></td>
            <td><input type="radio" value="3" name="question57" /></td>
            <td><input type="radio" value="4" name="question57" /></td>
          </tr>
          <tr>
            <td class="question58">58. Has difficulty correctly imitating demonstrations (movement games, songs with
          motions).</td>
            <td><input type="radio" value="1" name="question58" /></td>
            <td><input type="radio" value="2" name="question58" /></td>
            <td><input type="radio" value="3" name="question58" /></td>
            <td><input type="radio" value="4" name="question58" /></td>
          </tr>
          <tr>
            <td class="question59">59. Has difficulty completing tasks from a presented model.</td>
            <td><input type="radio" value="1" name="question59" /></td>
            <td><input type="radio" value="2" name="question59" /></td>
            <td><input type="radio" value="3" name="question59" /></td>
            <td><input type="radio" value="4" name="question59" /></td>
          </tr>
          <tr>
            <td class="question60">60. Demonstrates limited imagination and creativity in play and free time (such as
          being unable to create new games).</td>
            <td><input type="radio" value="1" name="question60" /></td>
            <td><input type="radio" value="2" name="question60" /></td>
            <td><input type="radio" value="3" name="question60" /></td>
            <td><input type="radio" value="4" name="question60" /></td>
          </tr>
          <tr>
            <td class="question61">61. Plays repetitively during free time; does not expand or alter activity when given
          opportunity.</td>
            <td><input type="radio" value="1" name="question61" /></td>
            <td><input type="radio" value="2" name="question61" /></td>
            <td><input type="radio" value="3" name="question61" /></td>
            <td><input type="radio" value="4" name="question61" /></td>
          </tr>
          <tr>
            <td class="question62">62. Shows poor organization of materials in, on, or around desk area.</td>
            <td><input type="radio" value="1" name="question62" /></td>
            <td><input type="radio" value="2" name="question62" /></td>
            <td><input type="radio" value="3" name="question62" /></td>
            <td><input type="radio" value="4" name="question62" /></td>
          </tr>
          <tr>
          <td><input type="submit"></td>
          </tr>
        </table>
    </form>
</div>


<!-- Footer -->
<footer>
  <p>Contact Us <a href="mailto:info@niv-thefoundation.com">Email</a></p>
  <p>Copyright © 2022 NiV - All Rights Reserved.</p>
</footer>

</body>
</html>
